@font-face {
    font-family: "RacingSansOne";
    src: url("../assets/fonts/RacingSansOne-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-VariableFont_opsz\,wght.ttf") format('truetype');
}

:root {
    --background-color: rgb(255, 255, 255);
    --element-color: rgb(2, 15, 20);
    --element-background-color: rgb(240, 240, 240);
    --element-background-hover-color: rgb(228, 228, 228);
    --button-background-color: rgb(218, 218, 218);

    --correct-answer-color: rgba(117, 216, 126, 0.795);
    --incorrect-answer-color: rgba(236, 104, 104, 0.795);
}

:root.dark-mode {
    --background-color: rgb(27, 27, 27);
    --element-color: rgb(192, 192, 192);
    --element-background-color: rgb(59, 59, 59);
    --element-background-hover-color: rgb(48, 48, 48);
    --button-background-color: rgb(27, 27, 27);

    --correct-answer-color: rgb(37, 95, 34);
    --incorrect-answer-color: rgb(92, 34, 34);
}

* {
    font-family: "Inter", sans-serif;
    color: var(--element-color);
}

h1 {
    margin: 0px;
    padding: 0px 10px 0px 10px;
    font-family: "RacingSansOne", sans-serif;
    letter-spacing: 3px;
    font-weight: 200;
    font-size: 50px;
    color: var(--element-color);
}

header {
    position: relative;
    z-index: 10;
    /* Ensures the header and its dropdown list have precedence */
}

#logo-title-container {
    display: grid;
    align-items: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#hamburger-menu-icon {
    color: var(--element-color);
}

button {
    padding: 0.6em 1em;

    font-size: 16px;

    border-style: solid;
    border-radius: 8px;
    border-width: 2px;
    border-color: var(--element-color);

    background-color: var(--button-background-color);

    cursor: pointer;
}

#hamburger-menu-button {
    padding: 0px;
    margin: 0px;
    border: none;
    background: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

#menu-dropdown-list-container {
    position: relative;
}

#menu-list {
    display: none;
    /* Initially hidden */
    position: absolute;
    /* Position relative to parent */
    top: 100%;
    /* Align just below the button */
    left: 0;
    background-color: var(--element-background-color);
    /* Match the button background */
    
    list-style-type: none;
    padding: 0.4rem;
    margin-top: 4px;
    border: 2px solid var(--element-color);
    border-radius: 8px;
    z-index: 20;
    /* Ensures it appears above other content */
}

#menu-list button {
    margin: 0.3em;
    padding: 0.4em;
    border: none;
}

span {
    font-size: 16px;
}

p {
    font-size: 18px;
}

body {
    padding: 1em;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-color);
}

#logo {
    max-width: 200px;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#question {
    max-width: 800px;
    margin: 8px 0px;
    color: var(--element-color);
}

.answer {
    margin: 0.8em 0px;
    padding: 0.5em 1em;


    border-style: solid;
    border-radius: 8px;
    border-width: 2px;
    border-color: var(--element-color);

    background-color: var(--element-background-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.answer:hover {
    background-color: var(--element-background-hover-color);
    cursor: pointer;
}

.correct {
    transition: 50ms;
    background-color: var(--correct-answer-color);
}

.incorrect {
    transition: 50ms;
    background-color: var(--incorrect-answer-color);
}

.correct:hover {
    cursor: default;
}

.incorrect:hover {
    cursor: default;
}

.picked-answer {
    box-shadow: 0 0 4px var(--element-color), 0 0 4px var(--element-color);
    transform: scale(1.01);
    transition: transform 50ms ease, box-shadow 50ms ease;
}

.disabled {
    pointer-events: none;
}



#next-question-container {
    display: flex;
    gap: 15px;
    align-items: center;
}


/* Modal window */
dialog {

    background-color: var(--background-color);
    border-style: solid;
    border-radius: 8px;
    border-width: 2px;
    border-color: var(--element-color);


    margin-left: auto;
    margin-right: auto;

    /* Add 3em margin on left and right */
    width: calc(100% - 6em);
    max-width: 500px;

}

dialog h3 {
    margin: 0px;
}